<div class="projects">
  <h1>Projects</h1>

  <p>Here's a showcase of the projects I'm most proud of.</p>

  <div class="row">
    <div class="col-sm-6" ng-repeat-start="project in projects">
      <div class="project">
        <h2 class="name">{{project.name}}</h2>

        <a ng-href="{{project.link}}" target="_blank"><img ng-src="{{project.img}}" /></a>

        <p class="visit"><a ng-href="{{project.link}}" target="_blank">Visit site</a>
          <span ng-if="project.src_link">| <a ng-href="{{project.src_link}}" target="_blank">View source</a></span>
        </p>

        <p>{{project.description}}</p>

        <span class="tag" ng-repeat="t in project.technologies">{{t}}</span>
      </div>
    </div>

    <div class="clearfix hidden-xs" ng-repeat-end ng-if="$index % 2 === 1"></div>
  </div>
</div>
