<div class="resume">
  <h1>Résumé</h1>

  <div class="section-1">
    <h2>Experience</h2>

    <div class="section-2">
      <h3><span>Software Development Intern</span> at Spectra Logic <small>Summer 2013 | Boulder, CO</small></h3>
      <p>Worked full time at Spectra over the summer.  Worked mainly on the web UI written in Backbone.js with a Rails backend.</p>
      <ul>
        <li>Adapted existing web UI to be responsive</li>
        <li>Created new CLI functionality</li>
        <li>Wrote unit tests for new Ruby functions</li>
        <li>Fixed miscellaneous bugs in Ruby and JavaScript</li>
        <li>Worked full-time in 2-week sprint cycles</li>
      </ul>
    </div>

    <div class="section-2">
      <h3><span>Community Facilitator</span> at Santa Clara University <small>2011/12 and 2012/13 Academic Years | Santa Clara, CA</small></h3>
      <p>Resident Assistant equivalent.  Worked on 12-person team for two years with one floor partner.</p>
      <ul>
        <li>Created a PHP web application for building to track event attendance</li>
        <li>Supported dozens of students through everything from homesickness to serious wellness issues</li>
        <li>Managed more than 50 students on my floor each year</li>
        <li>Planned about 50 events for floor and building</li>
      </ul>
    </div>

    <div class="section-2">
      <h3><span>Technical Co-Founder and Vice President</span> at Fashion Feather LLC. <small>February 2011 - September 2011 | Longmont, CO</small></h3>
      <p>Started an online business selling hair feathers, a hot women's fashion trend during the 2011 summer.</p>
      <ul>
        <li>Facilitated over $100k in gross sales on custom PHP website with Google Checkout integration</li>
        <li>Designed and optimized order fulfillment and shipping workflow</li>
        <li>Managed Google AdWords account (drove vast majority of sales)</li>
        <li>Managed company finances as Treasurer</li>
        <li>Hired and managed 10 employees for order fulfillment</li>
      </ul>
    </div>
  </div>




  <div class="section-1">
    <h2>Skills</h2>

    <div class="section-2">
      <h3>Web Development <small>Full-Stack</small></h3>
      <p>Worked with all levels of the stack.  No experience with nitty-gritty sysadmin.</p>
      <ul>
        <li><strong>Front-end</strong>: Angular.js, Backbone, CSS/LESS/SASS, mobile/responsive, Bootstrap, Foundation</li>
        <li><strong>Back-end</strong>: Ruby on Rails, Node.js</li>
        <li><strong>Database</strong>: PostgreSQL, MySQL, some MongoDB</li>
        <li><strong>Infrastructure</strong>: Heroku, VPS, S3, CloudFlare</li>
      </ul>
    </div>

    <div class="section-2">
      <h3>Software Development <small>Some Experience</small></h3>
      <p>Some non-web-specific development.</p>
      <ul>
        <li><strong>Mobile</strong>: took iOS development class, some experience with PhoneGap</li>
        <li><strong>Ruby</strong>: gems, OOP</li>
        <li><strong>Other</strong>: git, Perforce</li>
        <li><strong>Limited experience</strong>: Python, C, MATLAB</li>
      </ul>
    </div>

    <div class="section-2">
      <h3>Laboratory Techniques <small>General Experience</small></h3>
      <p></p>
      <ul>
        <li><strong>Microfluidics</strong>: PDMS mold and device fab, electrophoretic separation</li>
        <li><strong>Tissue engineering</strong>: U87 cell culture, trypsinization, and passaging</li>
        <li><strong>Biology</strong>: standard lab techniques</li>
        <li><strong>Chemistry</strong>: general chemistry, organic chemistry</li>
      </ul>
    </div>

    <div class="section-2">
      <h3>Spanish <small>Quasi-Fluent</small></h3>
      <ul>
        <li>Five Spanish classes in high school (scored 5 on AP Spanish exam)</li>
        <li>2-week immersion trips to Mexico and Peru</li>
        <li>Two upper-division Spanish classes in college</li>
      </ul>
    </div>
  </div>




  <div class="section-1">
    <h2>Education</h2>

    <div class="section-2">
      <h3>Santa Clara University <small>Class of 2014 | Santa Clara, CA</small></h3>
      <h4>Bachelor of Science, Bioengineering</h4>
      <h4>University Honors Program</h4>
      <p><strong>Major GPA</strong>: 3.466</p>
    </div>

    <div class="section-2">
      <h3>Silver Creek High School <small>Class of 2010 | Longmont, CO</small></h3>
    </div>
  </div>




  <div class="section-1">
    <h2>References</h2>

    <p>Available upon request</p>
  </div>
</div>
