<!DOCTYPE html>
<html ng-app="website">
  <head>
    <title>Scott Hardy</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="EHkUAAPr6Gml10wBbmwxjQEFwMrI08RVUpnOcpM1s_U" />

    <link href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/application.css" />
    <script src="/application.js"></script>

    <% include partials/favicons.html %>
  </head>

  <body>
    <div class="container">

      <% include partials/header.html %>

      <div class="row">
        <div class="col-sm-2">
          <% include partials/nav.html %>
        </div>
        <div class="col-sm-10" ng-view></div>
      </div>

      <% include partials/footer.html %>
      <% include partials/ga.html %>

    </div>
  </body>
</html>
