extends ../_templates/_layouts/default.pug

block vars
  - title = 'Scott Hardy · Résumé'
  - navPage = 'resume'

block content
  #resume
    h1.no-print Résumé

    .general-info
      div(style='height: 20px').only-print
      p #[strong Email]: #[a(href='mailto:scott.the.hardy@gmail.com') scott.the.hardy@gmail.com]
      p.only-print #[strong Phone]: #[a(href='tel:+13039172466') +1 303-917-2466]
      p.only-print #[strong Website]: #[a(href='https://www.scotthardy.me') scotthardy.me]
      p #[strong Github]: #[a(href='https://github.com/scott113341') github.com/scott113341]
      p #[strong LinkedIn]: #[a(href='https://www.linkedin.com/in/scott113341') linkedin.com/in/scott113341]

    .section-1
      h2 Job Experience
      .section-2
        h3
          span.title Principal Software Engineer
          span.company at #[a(href='https://mybrightwheel.com') brightwheel]
          span.dates February 2017 - April 2023
          span.location Remote
        p Started as the 2nd backend engineer, doing product development. Over time, shifted focus to SRE work, strategic planning, scaling efforts, infrastructure, team efficiency, and hiring. Promoted three times to Senior, Staff, and Principal.
        p #[strong 2022] Principal Software Engineer
        ul
          li Lead technical planning & implementation efforts for a new business product line, working closely with business strategists, product managers, and engineers to plan for an ambiguously-framed project
          li Migrated entire AWS environment to use CloudFormation for GitOps
          li Lead company-wide effort to implement and roll out 2-factor authentication with minimal customer disruption and high satisfaction
          li Lead technical due diligence on a company we looked at acquiring
          li Kubernetes, Flux, AWS, Postgres, CloudFormation, Redshift, Airflow
        p #[strong 2021] Staff Software Engineer
        ul
          li Revamped interview process; replaced coding "puzzle" challenge with a much-fairer session where the candidate extends their own take-home exercise
          li Planned and implemented new authentication (OAuth) + authorization (RBAC) system for internal tools, allowing business to securely use external contractor labor during busy seasons
          li Migrated Kubernetes to use Flux for GitOps, for production, staging, and ephemeral environments
          li Ruby (Rails), Postgres, AWS, Kubernetes
        p #[strong 2019] Senior Software Engineer
        ul
          li Owned application and infrastructure scaling efforts for annual high-growth business cycle; improved main Postgres database metrics (CPU, RAM, IOPS) by ~50%
          li Rewrote main billing product, contributing to massive revenue growth, better customer satisfaction, and huge scale (over $1B processed)
          li Lead a multitude of process and tooling improvements: feature flags, continuous integration, project documentation process, product development process
          li Migrated all infrastructure from Heroku to AWS to meet scaling needs
          li Ruby (Rails), Postgres, Redis, Heroku, AWS
        p #[strong 2017] Software Engineer
        ul
          li Owned application and infrastructure scaling efforts for annual high-growth business cycle; improved main Postgres database metrics by ~50%
          li Developed customer-facing features across all product verticals: billing, messaging, timecards, student information system, media, notifications, reporting, etc.
          li Ruby (Rails), Postgres, Redis, React, Heroku
      .section-2
        h3
          span.title Software Engineer
          span.company at #[a(href='https://www.ebay.com') eBay]
          span.dates November 2014 - April 2016
          span.location San Jose, CA + Remote
        p Worked full-time developing software in support of the storage operation team.
        ul
          li Member of a small team of three developers supporting storage operation team of about 15
          li Worked as main developer on storage insight platform, consisting of collection software (vanilla Python), API (Django), and UI (Angular)
          li Built environment-specific build tool for production deployments using Docker and Fabric
          li Modernized JavaScript development practices on the development team (build process, modularization)
      .section-2
        h3
          span.title Software Development Intern
          span.company at #[a(href='https://mybrightwheel.com') Spectra Logic]
          span.dates June 2013 - September 2013
          span.location Boulder, CO
        p Worked mainly on the admin web UI written in Backbone with a Ruby on Rails backend, and the underlying Ruby worker code.
        ul
          li Adapted entire existing web UI to be responsive on mobile devices
          li Created new CLI functionality by extending existing classes
          li Wrote new classes and associated unit tests
          li Fixed miscellaneous bugs in Ruby and JavaScript
          li Worked full-time in 2-week sprint cycles
      .section-2
        h3
          span.title Technical Co-Founder
          span.company at Fashion Feather LLC
          span.dates February 2011 - September 2011
          span.location Longmont, CO
        p Started an online business selling hair feathers, a hot fashion trend during the 2011 summer. This was the second website I ever made, and my first real business.
        ul
          li Facilitated over $100k in gross sales on custom PHP website with Google Checkout integration
          li Designed and optimized order fulfillment and shipping workflow
          li Managed Google AdWords account (which drove the vast majority of sales)
          li Managed company finances as Treasurer
          li Hired and managed 10 part-time employees for order fulfillment
    // #[a(href='href') text]
    .section-1
      h2 Recent Side Projects
      .section-2
        h3 #[a(href='https://monaitor.they.industries') monAItor] (#[a(href='https://github.com/scott113341/monaitor') source])
        ul
          li Web app that monitors websites for specific changes, using LLMs for flexibility (currently personal use only)
          li For example, #[a(href='https://monaitor.they.industries/monitors/35207889-050b-41de-94fc-fab640fc995a') this monitor] will notify me once #[a(href='https://www.larimer.gov/naturalresources/parks/regional-paved-trails/poudre-river-trail') this website] says the new bike path construction is complete
          li Ruby (Sinatra) web app backed by Postgres, deployed to my personal Kubernetes cluster (via Flux). Uses headless browser bindings to get website screenshot and text, which are both fed to an LLM for analysis.
      .section-2
        h3 AskSMS (#[a(href='https://github.com/scott113341/asksms') source])
        ul
          li Small personal tool that uses LLMs + #[a(href='https://openrouter.ai/perplexity') Perplexity] to return information over 160-character SMS messages that are compatible with #[a(href='https://www.t-mobile.com/coverage/satellite-phone-service') T-Mobile Starlink]. This allows information to be looked up while deep in the backcountry where there is no cell coverage.
          li Ruby (Sinatra) web app, deployed to my personal Kubernetes cluster (via Flux). SMS via Twilio.
      .section-2
        h3 Home Assistant
        ul
          li Reverse-engineered IR codes for my heat pump remotes (I don't have a thermostat), allowing for me to control my rental unit's temperature with automation, while away from home, and little Zigbee buttons I have next to my door/bed
          li Made a virtual sunrise lamp for better mornings. Goes from a deep red to a bright daylight over 30 minutes, coinciding with the natural sunrise each morning.
      .section-2
        h3 SmartMarker (#[a(href='/projects/smartmarker/') gallery])
        ul
          li Making a "ruler" to draw volumetric markings on SmartWater bottles, popular among hikers for their skinny cross-section, light weight, durability, and availability.
          li The design is defined using #[a(href='https://openscad.org') OpenSCAD], a CAD-as-code tool
          li Prototyping on paperboard (non-baffled cardboard) using the laser cuter at a local makerspace
          li Completed trial run of different materials (steel/aluminum) and finishes (power/anodized) from #[a(href='https://sendcutsend.com/') SendCutSend] which I then etched markings into with the laser cutter
    .section-1
      h2 Education
      .section-2
        h3
          span.title Santa Clara University
          span.company Bachelor of Science, Bioengineering
        p Class of 2014
        p #[strong Major GPA]: 3.466
        p Taught myself how to code in the library on party nights
        p Resident Assistant for 2 years
        p University Honors Program
