.blog-post {

  h1:first-of-type {
    margin-bottom: 3px;
  }

  h4:first-of-type {
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 1px 4px;
    background: #eee;
    font-size: 95%;
  }

  .ss-octocat:before {
    vertical-align: sub;
  }

}
