# The Great Car Experiment of 2015 is Over
#### October 19, 2015


After living in my car for the past month and a half, the experiment has ended.

**It was great.**

At the beginning, people thought I was crazy to do something like this.  My parents understandably never got used to it.  Overall, I immensely enjoyed the experience, and I would definitely do it again in the future without any qualms.

However, as the experiment progressed, I realized I wasn't truly *living out* of my car; I was really just *sleeping in* my car.  You could say I "cheated" by taking advantage of eBay perks like free breakfast and 24/7 bathroom access.  I'm inclined to agree, but I wasn't trying to prove a point with this experiment.  I simply wanted to try something new.  Mission accomplished!




## The Setup

### Front seats

<a href="http://i.imgur.com/N6PcFzJ.jpg" target="_blank"><img src="http://i.imgur.com/N6PcFzJm.jpg" /></a>

* 24oz and 40oz Hydroflask water bottles [1]
* Power inverter [2]
* Backpack [3]
  * Personal laptop, work laptop, charger
  * Mouse, mousepad, headphones
* Shoes [4]
  * Sperrys
  * Climbing shoes & chalk bag
  * Running shoes

### Left rear seat

<a href="http://i.imgur.com/VP0FrNJ.jpg" target="_blank"><img src="http://i.imgur.com/VP0FrNJm.jpg" /></a>

* Laundry bag [1]
* Gym bag [2]
* Duffel bag [3]
  * Ziploc bags
  * Nail & toenail clippers
  * Toiletry bag
    * Toothbrush, toothpaste, deodorant, floss picks, retainer
    * Electric razor, comb
  * Clothes
    * 12 shirts
    * 2 jeans
    * 4 workout shirts, 2 workout shorts
    * Hoodie, socks, underwear
    * 1 <a href="http://www.planetbuff.com/survivor-30th-season-anniversary-commemorative-buff-tiger-orange.html" target="_blank">Buff</a>

### Right rear seat

<a href="http://i.imgur.com/U0NiatC.jpg" target="_blank"><img src="http://i.imgur.com/U0NiatCm.jpg" /></a>

* Futon [1]
* Blanket [2]
* Pillow [3]

### Sleeping arrangement

<a href="http://i.imgur.com/Dzzwy1C.jpg" target="_blank"><img src="http://i.imgur.com/Dzzwy1Cm.jpg" /></a>




## Typical Schedule

1. Wake up at 6:15am - 7:15am (sunrise, which progressively got later)
1. Planet Granite
  * Rock climb, lift weights, and/or run
  * Shower (free towels, free soap), shave, brush teeth
1. Go to work
  * Free breakfast, usually eggs, fruit, potatoes, parfaits
  * Go out to lunch or eat cereal (free milk) at the office
1. Do stuff
  * Hang out with friends
  * Work on personal stuff at the office
  * Read
  * Walk around aimlessly
1. Go to sleep around 11:00pm




## Things that Should Have Been Hard (but weren't)

**Sleeping**: My futon (which I've been sleeping on for years and is the most comfortable bed I've ever slept on) fit almost perfectly in the back of the Subaru.  Lying down flat, my entire body fit on the mattress easily.  It was pretty dark at night; I parked under a parking lot lamp post that had burnt out.  When they fixed the light a few weeks in, I parked under trees that provided shade from the lights.  Waking up early was pretty easy too, since I went to bed earlier and I was getting up at sunrise.

**Laundry**: Found a great laundromat right next to Planet Granite: wash, dry, and fold for about two weeks of clothing was $15.

**Showering**: Planet Granite gave me free showers with my expensive membership.  They provided towels, shampoo, conditioner, and body wash.  This was really nice because I didn't have to try drying a towel and soap bottles inside my car.

**Bathroom**: I had 24/7 access to the eBay building, so restrooms were always a minute walk away.

**Security**: Never interacted the people who patrol the parking lot.  I registered my car with them as "long-term parking".  Not sure if they knew someone was sleeping in it.




## Things I Learned

* Getting up early and exercising every morning is really good for me
* I don't need as many things as I own
* Being able to cook in your own kitchen is nice




## Until Next Time

I wrote in an email to some family: "Car living is officially... on hiatus."  I'm maybe kidding.
