<div class="projects">
  <h1>Projects</h1>

  <p>Here's a showcase of the projects I'm most proud of.</p>

  <div class="row">
    <div class="col-sm-6" ng-repeat="project in [1,2,3,4,5,6,7]">
      <div class="project">
        <h2>SCUclasses</h2>

        <p>Here's some description of the project.  Here's some description of the project.  Here's some description of the project.  Here's some description of the project.  Here's some description of the project.  Here's some description of the project.  Here's some description of the project.  Here's some description of the project.  </p>
      </div>
    </div>
  </div>
</div>
