<div class="resume">
  <h1>Résumé</h1>

  <div class="section-1 experience">
    <h2>Experience</h2>

    <div class="section-2">
      <h3><span>Software Development Intern</span> at Spectra Logic <small>Summer 2013</small></h3>
      <p>Worked full time at Spectra over the summer.  Worked mainly on the web UI written in Backbone.js with a Rails backend.</p>
      <ul>
        <li>Adapted existing web UI to be responsive</li>
        <li>Created new CLI functionality</li>
        <li>Wrote unit tests for new Ruby functions</li>
        <li>Fixed miscellaneous bugs in Ruby and JavaScript</li>
        <li>Worked full-time in 2-week sprint cycles</li>
      </ul>
    </div>

    <div class="section-2">
      <h3><span>Community Facilitator</span> at Santa Clara University <small>2011/12 and 2012/13 Academic Years</small></h3>
      <p>Resident Assistant equivalent.  Worked on 12-person team for two years with one floor partner.</p>
      <ul>
        <li>Created a PHP web application for building to track event attendance</li>
        <li>Supported dozens of students through everything from homesickness to serious wellness issues</li>
        <li>Managed more than 50 students on my floor each year</li>
        <li>Planned about 50 events for floor and building</li>
      </ul>
    </div>

    <div class="section-2">
      <h3><span>Co-Founder and Vice President</span> at Fashion Feather LLC. <small>February 2011 - September 2011</small></h3>
      <p></p>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>




  <div class="section-1 education">
    <h2>Education</h2>

    <div class="section-2">
      <h3>Santa Clara University <small>Class of 2014</small></h3>
      <h4>Bachelor of Science, Bioengineering</h4>
      <h4>University Honors Program</h4>
    </div>

    <div class="section-2">
      <h3>Silver Creek High School <small>Class of 2010</small></h3>
    </div>
  </div>
</div>
