<div class="resume">
  <h1>Résumé</h1>

  <strong>Email</strong>: <a href="mailto:scott.the.hardy@gmail.com" target="_blank">scott.the.hardy@gmail.com</a>
  <br/>
  <strong>Phone</strong>: <a href="tel://1-303-917-2466">(303) 917-2466</a>
  <br/>
  <strong>Github</strong>: <a href="https://github.com/scott113341" target="_blank">github.com/scott113341</a>
  <br/>
  <strong>LinkedIn</strong>: <a href="https://www.linkedin.com/in/scotthardy1337" target="_blank">linkedin.com/in/scotthardy1337</a>

  <div class="section-1">
    <h2>Job Experience</h2>

    <div class="section-2">
      <h3><span>Web Developer</span> at Powder Keg Brewing Company <small>January 2014 - Present | Niwot, CO</small></h3>
      <p>Worked semi-part-time on developing the brewery's website and being a general technology consultant, manual laborer, and beer taster.</p>
      <ul>
        <li>Created Ruby on Rails website for the brewery</li>
        <li>Designed the admin backend for managing beers/taplist/food/menu</li>
        <li>Consolidated data and functionality into the website to avoid out-of-sync data</li>
        <li>Worked with other investors to create automatically-generated reports for financial performance monitoring</li>
      </ul>
    </div>

    <div class="section-2">
      <h3><span>Software Development Intern</span> at Spectra Logic <small>Summer 2013 | Boulder, CO</small></h3>
      <p>Worked mainly on the admin web UI written in Backbone with a Ruby on Rails backend, and the underlying Ruby worker code.</p>
      <ul>
        <li>Adapted entire existing web UI to be responsive on mobile devices</li>
        <li>Created new CLI functionality by extending existing classes</li>
        <li>Wrote new classes and associated unit tests</li>
        <li>Fixed miscellaneous bugs in Ruby and JavaScript</li>
        <li>Worked full-time in 2-week sprint cycles</li>
      </ul>
    </div>

    <div class="section-2">
      <h3><span>Community Facilitator</span> at Santa Clara University <small>2011/12 and 2012/13 Academic Years | Santa Clara, CA</small></h3>
      <p>Resident Assistant equivalent.  Worked on 12-person team for two years with one floor partner.</p>
      <ul>
        <li>Managed more than 50 students on my floor each year</li>
        <li>Created a PHP web application for building to track event attendance</li>
        <li>Supported dozens of students through everything from homesickness to serious wellness issues</li>
        <li>Planned about 50 events for floor and building</li>
      </ul>
    </div>

    <div class="section-2">
      <h3><span>Technical Co-Founder and Vice President</span> at Fashion Feather LLC. <small>February 2011 - September 2011 | Longmont, CO</small></h3>
      <p>Started an online business selling hair feathers, a hot women's fashion trend during the 2011 summer.  This was the second website I ever made, and my first real business!</p>
      <ul>
        <li>Facilitated over $100k in gross sales on custom PHP website with Google Checkout integration</li>
        <li>Designed and optimized order fulfillment and shipping workflow</li>
        <li>Managed Google AdWords account (drove vast majority of sales)</li>
        <li>Managed company finances as Treasurer</li>
        <li>Hired and managed 10 employees for order fulfillment</li>
      </ul>
    </div>
  </div>




  <div class="section-1">
    <h2>Projects</h2>

    <div class="section-2">
      <h3>SCU•classes <small>February 2013 - Present</small></h3>
      <p>A class scheduling website I built for Santa Clara University students in February 2013.</p>
      <ul>
        <li>Identified the need for a replacement for the school's class search web app</li>
        <li>Performed extensive user testing during development to ensure an intuitive UI</li>
        <li>125,000 visits over its lifetime</li>
        <li>Over 90% of undergrads at SCU use SCU•classes</li>
        <li>Built with Angular.js and Ruby on Rails, hosted on Heroku</li>
      </ul>
    </div>

    <div class="section-2">
      <h3>SCU•books <small>January 2013 - Present</small></h3>
      <p>A textbook price comparison website I built for Santa Clara University students in January 2013.</p>
      <ul>
        <li>Was inspired/furious by how expensive textbooks were at the school bookstore</li>
        <li>Worked with friends to expand to other 8 schools, leveraging the I18n gem to keep code extremely DRY and hosted on the same server</li>
        <li>Optimized codebase to concurrently access price APIs (Amazon, Barnes and Noble, etc.)</li>
        <li>Has been used over 22,000 times by students (all schools)</li>
        <li>Built with Angular.js and Ruby on Rails, hosted on Heroku</li>
      </ul>
    </div>
  </div>




  <div class="section-1">
    <h2>Skills</h2>

    <div class="section-2">
      <h3>Web Development <small>Full-Stack</small></h3>
      <p>Worked with all levels of the stack.  Very little experience with nitty-gritty sysadmin.</p>
      <ul>
        <li><strong>Javascript</strong>: Angular.js, Backbone, node.js</li>
        <li><strong>Ruby</strong>: Ruby on Rails, gems</li>
        <li><strong>Front-end</strong>: CSS/LESS/SASS, responsive sites, Bootstrap</li>
        <li><strong>Database</strong>: PostgreSQL, MySQL, some NoSQL</li>
        <li><strong>Infrastructure</strong>: Heroku, some VPS</li>
      </ul>
    </div>

    <div class="section-2">
      <h3>Software Development <small>Some Experience</small></h3>
      <p>Some non-web-specific development.</p>
      <ul>
        <li><strong>Ruby</strong>: gems, general OOP</li>
        <li><strong>Objective-C</strong>: Took an iOS development course</li>
        <li><strong>Other</strong>: git, Perforce</li>
        <li><strong>Limited experience</strong>: Python, C, MATLAB</li>
      </ul>
    </div>

    <div class="section-2">
      <h3>Laboratory Techniques <small>General Experience</small></h3>
      <p></p>
      <ul>
        <li><strong>Microfluidics</strong>: PDMS mold and device fab, electrophoretic separation</li>
        <li><strong>Tissue engineering</strong>: U87 cell culture, trypsinization, and passaging</li>
        <li><strong>Biology</strong>: standard lab techniques</li>
        <li><strong>Chemistry</strong>: general chemistry, organic chemistry</li>
      </ul>
    </div>

    <div class="section-2">
      <h3>Spanish <small>Quasi-Fluent</small></h3>
      <ul>
        <li>Five Spanish classes in high school (scored 5 on AP Spanish exam)</li>
        <li>2-week immersion trips to Mexico and Peru</li>
        <li>Two upper-division Spanish classes in college</li>
      </ul>
    </div>
  </div>




  <div class="section-1">
    <h2>Education</h2>

    <div class="section-2">
      <h3>Santa Clara University <small>Class of 2014 | Santa Clara, CA</small></h3>
      <h4>Bachelor of Science, Bioengineering</h4>
      <h4>University Honors Program</h4>
      <p><strong>GPA</strong>: 3.368</p>
      <p><strong>Major GPA</strong>: 3.466</p>
    </div>

    <div class="section-2">
      <h3>Silver Creek High School <small>Class of 2010 | Longmont, CO</small></h3>
    </div>
  </div>




  <div class="section-1">
    <h2>References</h2>

    <p>Available upon request</p>
  </div>
</div>
