.footer {
  border-top: 2px solid @border-gray;
  margin-top: 10px;
  padding-top: 10px;

  p {
    margin: 0;
  }

  .left {

  }
  .middle {
    text-align: center;
  }
  .right {
    text-align: right;
  }
}
