extends ../../_templates/_layouts/default.pug

block vars
  - title = 'Projects · SmartMarker'
  - navPage = 'projects'

block content
  #smartmarker
    h1 SmartMarker
    p A gallery of some SmartMarker prototypes
    .row
      .col-sm-4
        a(href="./IMG_4801.jpeg")
          img.image(src='./IMG_4801.jpeg')
        a(href="./IMG_5486.jpeg")
          img.image(src='./IMG_5486.jpeg')
      .col-sm-4
        a(href="./IMG_5661.jpeg")
          img.image(src='./IMG_5661.jpeg')
        a(href="./IMG_5663.jpeg")
          img.image(src='./IMG_5663.jpeg')
      .col-sm-4
        a(href="./IMG_5665.jpeg")
          img.image(src='./IMG_5665.jpeg')
        a(href="./IMG_5675.jpeg")
          img.image(src='./IMG_5675.jpeg')
