#footer.no-print
  div.container
    div.row
      div.col-xs-6.left
        p
          a(href='mailto:scott.the.hardy@gmail.com')
            svg.icon
              use(xlink:href='/icons.svg#icon-envelope')
          a(href='https://github.com/scott113341')
            svg.icon
              use(xlink:href='/icons.svg#icon-github-alt')
          a(href='https://www.linkedin.com/in/scott113341')
            svg.icon
              use(xlink:href='/icons.svg#icon-linkedin')
      div.col-xs-6.right
        p
          a(href='https://github.com/scott113341/website')
            | View source code
