div.footer
  div.row
    div.col-xs-6.left
      p
        a(href='mailto:scott.the.hardy@gmail.com', target='_blank')
          i.ss-mail
        a(href='https://github.com/scott113341', target='_blank')
          i.ss-octocat
        a(href='https://www.linkedin.com/in/scott113341', target='_blank')
          i.ss-linkedin
    div.col-xs-6.right
      p
        a(href='https://github.com/scott113341/website', target='_blank')
          | View source code
