extends ./_templates/_layouts/default.pug

block content
  #home
    h1 #[img.me(src="/pic.jpg")] Hi, I'm Scott
    p #[strong Formally], I'm a software engineer from Boulder, Colorado.
    p #[strong Informally], I'm someone who loves the outdoors and great company.
    p I'm currently:
    ul
      li Writing backend software full-time at #[a(href='https://mybrightwheel.com') brightwheel], an early education SaaS startup
      li Learning the #[a(href='https://www.rust-lang.org/') Rust programming language]
      li Enjoying time with my friends and family
      li Exploring how I can get involved in fighting climate change
      li #[a(href='https://www.strava.com/athletes/17379795') Biking and running] frequently, and gearing up for summer backpacking/scrambling
      li Starting more side projects than I'm finishing
      li Recently moved back to Boulder, Colorado after living in San Francisco for the past 5 years
    p Get in touch with me via:
    ul.contact
      li
        strong Email:
        a(href='mailto:scott.the.hardy@gmail.com')  scott.the.hardy@gmail.com
      li
        strong GitHub:
        a(href='https://github.com/scott113341')  github.com/scott113341
      li
        strong LinkedIn:
        a(href='https://www.linkedin.com/in/scott113341')  linkedin.com/in/scott113341
