extends ./_templates/_layouts/default.pug

block content
  #home
    h1 #[img.me(src="/pic.jpg")] Hi, I'm Scott
    p #[strong Formally], I'm a software engineer from Boulder, Colorado.
    p #[strong Informally], I'm someone who loves the outdoors and great company.
    p I'm currently:
    ul
      li Writing software full-time at #[a(href='https://www.cruxclimate.com') Crux], a clean-tech finance startup
      li Enjoying time with my friends and family
      li #[a(href='https://www.strava.com/athletes/17379795') Getting outside] frequently
      li Starting more side projects than I'm finishing
      li Cooking Neapolitan-style pizza, Rancho Gordo beans, and a lot of curry
    p Get in touch with me via:
    ul.contact
      li
        strong Email:
        a(href='mailto:scott.the.hardy@gmail.com')  scott.the.hardy@gmail.com
      li
        strong GitHub:
        a(href='https://github.com/scott113341')  github.com/scott113341
      li
        strong LinkedIn:
        a(href='https://www.linkedin.com/in/scott113341')  linkedin.com/in/scott113341
