extends ./_templates/_layouts/default


block content
  .home
    h1 Hi, I'm Scott
    p
      strong Formally
      | , I'm a software developer and bioengineer from Boulder, Colorado who specializes in web development.
    p
      strong Informally
      | , I'm an easygoing guy who loves the outdoors, good beer, and great company.
    br
    p I am currently:
    ul
      li Working full time at eBay on internal storage management tools
      li Beginning to explore the educational technology space
      li Designing and making cool things with my 3d printer
      li
        | Helping optimize a new craft brewery,&nbsp;
        a(href='http://www.powderkegbrewingcompany.com', target='_blank') Powder Keg Brewing Company
        | my family and I have invested in
    br
    p Get in touch with me via:
    ul.contact
      li
        strong Email
        | :&nbsp;
        a(href='mailto:scott.the.hardy@gmail.com', target='_blank') scott.the.hardy@gmail.com
      li
        strong Github
        | :&nbsp;
        a(href='https://github.com/scott113341', target='_blank') github.com/scott113341
      li
        strong LinkedIn
        | :&nbsp;
        a(href='https://www.linkedin.com/in/scott113341', target='_blank') linkedin.com/in/scott113341
