extends ./_templates/_layouts/default.jade


block content
  .home
    h1 Hi, I'm Scott
    p #[strong Formally], I'm a software developer and bioengineer from Boulder, Colorado who specializes in web development.
    p #[strong Informally], I'm an easygoing guy who loves the outdoors, good beer, and great company.
    br
    p I am currently:
    ul
      li Working exclusively on side projects, both commercial and non-profit
      li Looking for meaningful opportunities in educational technology
      li Improving my personal fitness and wellness
      li Helping #[a(href='http://www.powderkegbrewingcompany.com', target='_blank') Powder Keg Brewing Company] with odd jobs
    br
    p Get in touch with me via:
    ul.contact
      li
        strong Email: #[a(href='mailto:scott.the.hardy@gmail.com', target='_blank') scott.the.hardy@gmail.com]
      li
        strong Github: #[a(href='https://github.com/scott113341', target='_blank') github.com/scott113341]
      li
        strong LinkedIn: #[a(href='https://www.linkedin.com/in/scott113341', target='_blank') linkedin.com/in/scott113341]
